@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$font: 'Josefin Sans', sans-serif;
$Input_shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px;
$blue: #176bef;
$hover_blue: #2160c5;


.chat-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .chat-list { 
        height: 95vh;
        width: 20%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 36px -18px inset;
        //background-color: red;

        display: flex;
        align-items: center;
        flex-direction: column;

        .breakline {
            background-color: grey;
            height: 0.2%;
            width: 80%
        }

        .chat-code {
            //background-color: red;
            height: 10%;
            margin-top: 2%;

            text-align: center;
            color: black;
            font-family: $font;
            font-size: 20px;



            #key {
                margin-top: 3%;
                font-size: 30px;
                color: black;
            }
        }

        .connect_cards {
            //background-color: red;
            height: 87%;
            width: 100%;
            max-height: 87%;
            margin-top: 5%;

            // display: flex;
            // justify-content: center;
            // align-items: center;
            // flex-direction: column;
            

            overflow-y: scroll;


            .card {
                background-color: white;
                outline: none;
                border: none;

                // width: 80%;
                // height: 10%;
                position: relative;
                top: 5%;
                left: 53%;
                transform: translate(-50%, -50%);

                width: 220px;
                height: 70px;
                margin-top: 5%;

                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                border-radius: 4px;

                display: flex;
                justify-content: center;
                align-items: center;

                transition: all .2s ease-in-out;

                .chatName { color: black; }
                .chatKey { color: #000; }
                .breakline_smol {
                    height: 70%;
                    width: 1px;
                    background-color: black;

                    margin-left: 5%;
                    margin-right: 5%;
                }

                &:hover {
                    background-color: $blue;
                    transform: scale(1.1);
                    transform: translate(-55%, -55%);


                    .chatName { color: white; }
                    .chatKey { color: white; }
                    .breakline_smol { background-color: white; }
                } &:active {
                    transform: scale(1);
                    transform: translate(-52%, -52%);
                }
            }
        }
    }

    
    .chat-view {
        height: 95vh;
        width: 80%;

        .messages-view {
            //background-color: red;
            height: 85vh;
            max-height: 90vh;

            overflow-y: scroll;
            


            .user-data-current{
                float: right;
                clear: right;

                margin-right: 3.5%;
                margin-bottom: 0.5%;

            }
            .user-data-not-current {
                float: left;
                clear: left;

                margin-left: 3.5%;
                margin-bottom: 0.5%;

            }

            .message-content {
                width: 100%;


                .current {
                    background-color: $blue;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    text-align: right;
                    margin-bottom: 20px;
                    margin-right: 2%;
                    height: auto;
                    //width: 50%;
                    border-radius: 25px;
                    max-width: 600px;
                   
    
                    float: right;
                    clear: right;
    
                    color: white;
                    font-family: $font;
                    font-size: 20px;
    
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;
                    align-items: center;


                    .icon-view {
                        //background-color: red;
                        width: 40px;
                        height: 50px;

                        float: right;
                        clear: right;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon {
                            //background-image: url(https://firebasestorage.googleapis.com/v0/b/cyberoffice2077.appspot.com/o/nem%40gmail.com%2Ficon.jpg?alt=media&token=c75cfa49-5d64-4c3c-822d-58947c46d777);
                            background-size: cover;
                            background-position: center;
                            width: 50px;
                            height: 40px;
                            border-radius: 30px;

                        
                        }
                    }
    
                    .message-text {
                        padding: 10px 20px;
                        width: fit-content;
                        position: relative;
                        word-break: break-all;

                        .message-text-text {
                            text-align: center
                        }
                    }
                }
    
                .not-current {
                    background-color: transparent;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    text-align: right;
                    margin-bottom: 20px;
                    margin-left: 2%;
                    height: auto;
                    //width: 50%;
                    border-radius: 25px;
                    max-width: 600px;
                   
    
                    float: left;
                    clear: left;
    
                    color: white;
                    font-family: $font;
                    font-size: 20px;
    
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row-reverse;
                    align-items: center;

                    .icon-view {
                        //background-color: red;
                        width: 40px;
                        height: 50px;

                        float: left;
                        clear: left;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon {
                            background-color: blue;
                            width: 50px;
                            height: 40px;
                            border-radius: 30px;

                        
                        }
                    }
    
                    .message-text {
                        padding: 10px 20px;
                        width: fit-content;
                        position: relative;
                        word-break: break-all;

                        color: black;

                        .message-text-text {
                            text-align: center;
                            color: black;

                        }.message-text-text {
                            text-align: center
                        }
                    }
                }
            }

        }

        .usercontrols {
            //background-color: red;
            height: 9%;

            display: flex;
            align-items: center;
            //justify-content: center;

            .message_in {
                border: none;
                outline: none;
                border-radius: 3px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

                width: 70%;
                height: 60%;
                margin-left: 2%;
                margin-right: 2%;
                padding-left: 2%;

                font-size: 18px;
                font-family: $font;

                transition: .2s ease-out;

                &:focus {
                    transform: scale(1.01);
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                }
            }

            .send_btn {
                border: none;
                outline: none;
                border-radius: 40px;

                width: 46px;
                height: 45px;

                background-color: $blue;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

                transition: .2s ease-out;
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    transform: scale(1.1);
                } &:active {
                    transform: scale(1);
                    background-color:  $hover_blue;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                .send_icon {
                    background-image: url(../assets/outline_send_white_36dp.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 60%;
                    height: 60%;
                }

            }
        }

    }


}
