.dropdown-content{
  display: grid;
  position: relative;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  align-items: center;
  justify-content:center;
  .grid-item{
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &:hover {
      transform: scale(1.05);
  }

  &:active {
      transform: scale(1)
  }
  }
}